<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans default-autowire="byName">
   <bean id="supplierInfoServiceClient" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${bblink_hos.serviceUrl}/supplierInfoServiceClientRemote" />
        <property name="serviceInterface" value="cn.bblink.hos.client.service.SupplierInfoServiceClient" />
        <property name="chunkedPost" value="false" />
        <property name="overloadEnabled" value="true" />
    </bean> 
    
    <bean id="hospitalInfoServiceClient" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${bblink_hos.serviceUrl}/hospitalInfoServiceClientRemote" />
        <property name="serviceInterface" value="cn.bblink.hos.client.service.HospitalInfoServiceClient" />
        <property name="chunkedPost" value="false" />
        <property name="overloadEnabled" value="true" />
    </bean> 
</beans>